aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
*.pc
s2tc
s2tc_decompress
tests/amelia.tga
tests/base_concrete1a.tga
tests/bin/
tests/*.dds
tests/disabled.tga
tests/floor_tile3a.tga
tests/floor_tread01_norm.tga
tests/floor_tread01.tga
tests/html/
tests/include/
tests/lib/
tests/lift02.tga
tests/sunset.tga
